@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    display: flex;

    flex-direction: column;
}

nav{
    background-image: linear-gradient(to right top, #25554f, #004e5c, #004569, #0f366b);

    height: 65px;
}

.hamBerger{

    background-image: linear-gradient(to right top, #25554f);

    width: 73px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hambergerIcon{

    height: 42px;
    width: 42px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.icon{
    color: white;
    transform: scale(1.4);
}

.leftBar{

    background-color: #fff;

    height: 100%;
    width: 73px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Montserrat", sans-serif;


}

.jsWidth{
    width: 250px;
}

.options{

    width: 100%;
    height: 45%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.icons{
    background: rgba(143, 255, 143, 0.411);

    height: 38px;
    width: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.option{
    /* background-color: red; */

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    

    
}

h3{
    
    padding: 4px;
    width: 50%;
    text-align: left;

    font-size: 16px;
}

i{
    transform: scale(1.3);
}

hr{
    width: 100%;
}


